mark {
    background-color: #d9d9d9;
    border-radius: 1rem;
}

input {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border-style: dashed;
}

input:focus {
    outline: none;
}

.btn-dark {
    background-color: #000;
}

.btn-dark:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

img {
    width: 10rem;
    border-radius: 1rem;
}

.hide {
    display: none;
}

.show {
    display: block;
    margin-top: 1rem;
}